.nav-pills .nav-link.active {
  background-color: var(--defaultSixthColor);
}

.nav-link,
.nav-link:hover {
  color: var(--defaultSixthColor);
}

.nav-link:hover {
  text-shadow: 2px 2px var(--defaultThirdColor);
}

.side-menu {
  box-shadow: 0px 0px 3px 1px var(--defaultThirdColor);
}

.search-container .btn {
  margin-bottom: 1em;
}

.side-menu {
  width: 3.5rem;
}

.dropdown-item {
  cursor: pointer;
}
